<section class="content-btn-container">
  <div class="horizontalNav">
    <a class="btn content-btn" href="/navigation/homepage">Back</a>
    <a class="content-btn btn" href="/object-handling/create-box/room-view/{{roomId}}">
      Register a
      new
      box
    </a>
  </div>

</section>
<!--viewing containers -->
<main>
  <div class="pageBody">
    <h1 class="pageTitle">Viewing {{currentRoom}}'s Contents</h1>

    <div id="box-position-holder">
      <div class="box-storage">
        <div class="box-drag-position" id="drag{{number}}" ondragover="dragOver(event)" ondragleave="dragLeave(event)"
          ondrop="drop(event)">
          Place Box Here
        </div>
      </div>
    </div>
  </div>



</main>
</div>