<section class="content-btn-container">
  <div class="horizontalNav">
    <a href="/object-handling/create-room" class="content-btn btn bg-light text-black-50 rounded-pill text-uppercase font-weight-bold px-4 mb-4">
      Register
      New
      Room
    </a>
  </div>
    
  </section>
  <!--viewing containers -->
  <main>
    <div class="pageBody">
      <h1 class="pageTitle">Viewing {{first_name}}'s Rooms</h1>
  
    <div id="box-position-holder">
      <div class="box-storage">
        <div class="box-drag-position" id="drag{{number}}" ondragover="dragOver(event)" ondragleave="dragLeave(event)" ondrop="drop(event)">
          Place Box Here
        </div>
      </div>
    </div>
    </div>
    
    
  
  </main>
  </div>