<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create New Room</title>
</head>

<body>
  <h1>Create Room</h1>
  <form action="/create-room" method="POST">
    <button name="createRoomBtn">Create new room</button>
    <input type="text" name="roomTextbox">
  </form>
</body>

</html>