{{#containers}}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{box}}</h4>
    <p class="card-text">
      {{item}}
    </p>
    <a href="#!" class="card-link">Open Box</a>
    <a href="#!" class="card-link">Delete Box</a>
  </div>
</div>
{{/containers}}

{{box}}

{{#itemName}}

{{name}}

{{/itemName}}