<!DOCTYPE html>
<html lang="en">

<head>
  

  {{>header}}
  
</head>

<body>
  <span id="roomId" style="display: none;">{{roomId}}</span>
  <title>Viewing {{currentRoom}}</title>
  {{>navigation-menu}}

  {{>content}}

  {{>footer}}
</body>

</html>