<!DOCTYPE html>
<html lang="en">

<head>
  <span id="roomId" style="display: none;">{{roomId}}</span>

  {{>header}}
  <title>Viewing {{currentRoom}}</title>
</head>

<body>
  {{>navigation-menu}}

  {{>content}}

  {{>footer}}
</body>

</html>