<!DOCTYPE html>
<html lang="en">

<head>

  {{>header}}
  <title>Home Page</title>
</head>

<body>
  {{>navigation-menu}}
  <h1 class="text-white">
    DASHBOARD
  </h1>
  {{>footer}}
</body>

</html>