.mb-4 {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    /* background-image: url(/static/img/logo.png); */
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}

.content-btn-container {
  display: flex;
  justify-content: space-evenly;
}

/* .card {
  width: 24%;
  max-width: 200px;
  text-align: center;
} */

.content-btn {
  /* width: 45%; */

  display: block;
  border: none;
  padding: 2.1em 5em;
  background-color: #fff;
  color: #fff;
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 0px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1.1);
  height: 60px;
  text-align: center;
  opacity: 0.5px;
}

.profile-pic {
  width: 140px;
  height: auto;
}
