main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}

.content-btn-container {
  display: flex;
  justify-content: space-evenly;
}

/* .card {
  width: 24%;
  max-width: 200px;
  text-align: center;
} */

.content-btn {
  background-color: rgba(0, 0, 0, 0.16) !important;
  font-weight: bold;
  font-size: 1.4em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1.1);
  margin: 0.5rem;
  text-align: center;
  opacity: 0.5px;
}


.profile-pic {
  width: 140px;
  height: auto;
}

.horizontalNav {
  display: flex;
  justify-content: space-evenly;
}

.pageTitle {
  margin: 1rem;
}

.pageBody {
  display: flex;
  flex-direction: column;
}