* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.modal-container {
  position: relative;
}

/* .show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
} */

.gradient-custom-4 {
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.close-login-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

.img-container {
  height: 250px;
  display: flex;
  justify-content: center;
  margin-top: -57px;
}

.registration-menu {
  position: absolute;
  margin-top: 150px;
  top: 35%;

  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  /* height: 95%; */
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.login-menu {
  position: absolute;
  margin-top: 150px;
  top: 35%;

  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  /* height: 95%; */
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.form-check-input {
  position: inherit;
  margin-right: 7px;
  margin-top: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* ****************************************** */
/* HERO SECTION */
/* ****************************************** */
body,
html {
  height: 100%;
  overflow-x: hidden;
}

.bg {
  background-image: url("img/hero-img.png");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-overlay {
  position: absolute;
  font-size: 14rem;
  color: white;
  top: 40%;
  left: 12%;
}

.overlay-h1 {
  font-size: 5.5rem;
}
.overlay-h3 {
  font-size: 3.5rem;
}

.logo-image {
  width: 160px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.bg-white {
  background-color: #fff;
}

/* ****************************************** */
/* NAVIGATION */
/* ****************************************** */
.navbar {
  height: 75px;
}

.navbar-logo {
  height: 150px;
  width: auto;
}

/* ****************************************** */
/* HOW IT WORKS SECTION */
/* ****************************************** */

.height-100 {
  height: 100vh;
}

.card {
  /* width: 380px; */
  border: none;
  border-radius: 0px;
  flex-direction: row;
}
.content span {
  color: green;
  font-weight: 500;
}
.content p {
  font-size: 13px;
}
.angle i {
  font-size: 19px;
  cursor: pointer;
}

.angle i:nth-child(1) {
  margin-right: 10px;
}

.about span:nth-child(1) {
  margin-right: 10px;
  color: green;
}

iframe {
  width: 145rem;
  height: 379px;
}
/* ****************************************** */
/* MEDIA QUERIES */
/* ****************************************** */

@media (max-width: 767px) {
  .nav-item {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }

  /* .dropdown-menu {
    left: 0 !important;
    position: relative !important;
    padding: 20px; */
}
