* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.navbar-collapse {
  z-index: 5;
  font-size: 2.5rem;
  font-weight: bolder;
}

a button.btn {
  letter-spacing: 2px;
  width: 200px;
  height: 38px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(0, 0, 0) !important;
  margin: 0px 5px;
  /* border: 3px solid rgb(212, 221, 241); */
  box-shadow: 0 3rem 5rem rgba(0, 0.2, 0.2, 0.3);
  transition: 0.5s;
}

a button.btn:hover {
  color: rgb(249, 245, 245) !important;
  font-size: 19px;
  background: linear-gradient(to left, rgb(159, 236, 227), rgb(9, 140, 192));
  box-shadow: 0 3rem 5rem rgba(0, 0.2, 0.4, 0.5);
}

div button.btn {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(90, 87, 87);
}

.gradient-custom-4 {
  background: linear-gradient(to right, rgb(132, 250, 236), rgb(102, 197, 244));
}

h4 {
  font-size: 4rem;
}

.list-unstyled {
  font-size: 1rem;
  margin-left: 10px;
}

.started {
  font-size: 2rem;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.close-login-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

.img-container {
  height: 250px;
  display: flex;
  justify-content: center;
  margin-top: -57px;
}

.registration-menu {
  position: absolute;
  margin-top: 150px;
  top: 35%;

  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.login-menu {
  position: absolute;
  margin-top: 150px;
  top: 35%;

  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  /* height: 95%; */
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.form-check-input {
  /* position: inherit; */
  margin-right: 205px;
  margin-top: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* ****************************************** */
/* HERO SECTION */
/* ****************************************** */
body,
html {
  height: 100%;
  overflow-x: hidden;
}

.bg {
  background-image: url('img/hero-img.png');
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-overlay {
  position: absolute;
  font-size: 14rem;
  top: 40%;
  left: 12%;
}

.overlay-h1 {
  color: white;
  font-size: 5.5rem;
  text-shadow: 0px 0px 3px grey;
}
.overlay-h3 {
  color: white;
  font-size: 3.5rem;
  text-shadow: 0px 0px 3px grey;
}

.logo-image {
  width: 160px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.bg-white {
  background-color: #fff;
}

/* ****************************************** */
/* NAVIGATION */
/* ****************************************** */
.navbar {
  height: 75px;
  /* background-color: #b0bec5; */
}

.navbar-logo {
  height: 150px;
  width: auto;
}

/* ****************************************** */
/* HOW IT WORKS SECTION */
/* ****************************************** */

.height-100 {
  height: 100vh;
}

.card {
  /* width: 380px; */
  border: none;
  border-radius: 0px;
  flex-direction: row;
}
.content span {
  color: #bdbdbd;
  font-weight: 500;
}
.content p {
  font-size: 13px;
}
.angle i {
  font-size: 19px;
  cursor: pointer;
}

.angle i:nth-child(1) {
  margin-right: 10px;
}

.about span:nth-child(1) {
  margin-right: 10px;
  color: green;
}

iframe {
  width: 90%;
}
/* ****************************************** */
/* MEDIA QUERIES */
/* ****************************************** */

@media screen and (max-width: 900px) {
  .nav-item {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }

  .bg {
    height: 40%;
  }

  .iframe {
    height: fit-content;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .py-4 {
    padding-top: 100px;
    font-size: 2rem;
  }

  #myModal {
    width: 70%;
  }

  .registration-menu {
    width: 70%;
  }
  .login-menu {
    width: 90%;
  }

  .nav-item {
    width: 50%;
    text-align: left;
    padding-left: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .py-4 {
    padding-top: 100px;
  }
}

@media screen and (max-width: 560px) {
  .text-overlay {
    top: 0%;
  }
}
