<!DOCTYPE html>
<html lang="en">

<head>

  {{>header}}

</head>

<body>
  {{>navigation-menu}}
  <div class="horizontalNav">
    <a class="btn content-btn" href="/navigation/view-room/{{roomId}}">Back</a>
  </div>
  <div class="pageBody">
    <h1 class="pageTitle">Create New Box</h1>
    <form action="/object-handling/create-box/{{page}}" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" name="box" placeholder="Enter new category">
      </div>
      <button type="submit" name="roomId" value="{{roomId}}"
        class="content-btn btn bg-light text-black-50 text-uppercase font-weight-bold px-4 mb-4">Create
        New
        Container</button>
    </form>

    {{^message}}
    {{/message}}
  </div>

</body>

</html>