<!DOCTYPE html>
<html lang="en">

<head>

  {{>header}}
  <title>Create New Box</title>
</head>

<body>
  {{>navigation-menu}}


  <form action="/object-handling/create-box/{{page}}" method="POST">
    <div class="form-group">
      <label for="formGroupExampleInput bg-light">Give your container a name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="box"
        placeholder="Enter new category">
    </div>
    <button id="sidebarCollapse" type="submit" name="roomId" value="{{roomId}}"
      class="content-btn btn bg-light text-black-50 rounded-pill text-uppercase font-weight-bold px-4 mb-4">Create
      New
      Container</button>
  </form>

  {{^message}}
  {{/message}}
  {{>footer}}
</body>

</html>